extends componentes/_base.jade
block titulo
  title La Boda
block head
block contenido
  #boda
    .container-fluid
      .row
        .col-md-6
          .vestimenta
        .col-md-6.text-center
          h1 Dress Code
          br
          p Hombres:
          p Pantalón khaki + camisa / guayabera blanca + zapatos playeros
          p *No sandalias
          hr
          p Mujeres:
          p Vestido playero + plataformas / sandalias
          p*No blanco, beige, ivory o tonos parecidos