extends componentes/_base.jade
block titulo
  title La Boda
block head
block contenido
  #boda
    .container
      .row.pt-3
        .col-md-6
          .vestimenta
        .col-md-6.text-center
          h2.pb-5.pt-5 ***Dress Code***
          br
          p Hombres:
          p Pantalón khaki o beige + camisa / guayabera blanca + zapatos playeros
          p *No sandalias
          hr
          p Mujeres:
          p Vestido playero + plataformas / sandalias
          p*No blanco, beige o ivory
          br
          h4.pt-10 *Pronto tendremos la hora exacta de la Ceremonia :)