extends componentes/_base.jade
block titulo
  title Programa
block head
block contenido
  #boda
    .container
      .row.pt-3
        .col-md-6
          .vestimenta
        .col-md-6.text-center
          h3.pb-3.pt-5 ***Viernes 19 de Octubre***
          p *Almuerzo : 2:00 -  4:00 pm
          p PreBoda--> coctelitos y equipos: 4:00 -  7:00 pm
          p *Cena : 8:00 -  9:30 pm
          hr
          h3.pb-3.pt-5 ***Sábado 20 de Octubre***
          p *Desayuno buffet : 8:00 - 10:00 am
          p *Almuerzo : 12:30 - 2:30 pm
          p Ceremonia en la playa : 4:00 -  5:00 pm
          p Recepción en el hotel : 5:00 pm
          hr
          h3.pb-3.pt-5 ***Domingo 21 de Octubre***
          p *Desayuno buffet : 8:00 - 10:00 am
          br
          p *Desayunos, almuerzos y cenas están incluídos para huéspedes del hotel.
      .row.pt-3
        .col-md-12.text-center
          hr
          h3.pb-1.pt-5 ***Dress Code***
      .row.pt-3.pb-7
        .col-md-6.text-center
          p Hombres:
          p Pantalón khaki o beige + camisa blanca + zapatos playeros
        .col-md-6.text-center
          p Mujeres:
          p Vestido (no blanco entero) + plataformas/sandalias
          
