extends componentes/_base.jade
block titulo
  title El Hotel
block head
block contenido
  #hotel
    .container-fluid.hotel1
    .container
      .row
        .col-md-12.pt-10.pb-10
          h1.text-center Punta Sal Suites & Bungalows Resort
    .container-fluid.hotel2
    .container
      .row.precio
        .col-md-2
        .col-md-8.text-center.pt-7.pb-7
          p El paquete ofrecido por el hotel Punta Sal incluye:
          br
          ul
            li 3 Días / 2 Noches 
            li Early Check in el día viernes
            li Late Check Out el día domingo
            li Desayuno Buffet
            li Almuerzo a la carta (Entrada, Segundo y Postre)
            li Cena a la carta (Entrada, Segundo y Postre)
            li Impuestos incluídos
          br
        .col-md-2
    .container-fluid.hotel3
    .container
      .row.reservas
        .col-md-2
        .col-md-8.pt-7.pb-7
          h3.text-center Para reservar:
          br
          p.text-center Revisa el plano y descripción de habitaciones más abajo. Para separar tu habitación puedes hacerlo escribiendo directamente al hotel a recepcion1@puntasal.com.pe con la srta Yenny Romero y solicitar el link de Visa (pago total o parcial)
          p.text-center O a la siguiente cuenta a nombre de Daniela Alvarez:
          p.text-center Cuenta ahorros Dólares BBVA: 0011-0814-0200168580
          p.text-center Código de cuenta interbancario: 011-814-000200168580-15
          br
          p.text-center Cualquier consutla escríbenos a Whatsapp:  
          p.text-center 959870094 (Dani) / 929963006 (Diego)

        .col-md-2
    .container-fluid.mapahotel
    .container
      .row.descargas
        .col-md-12.text-center.pt-5.pb-5
            h4 Descripción de Habitaciones
            br
            a(href="componentes/Descripcion_de_Habitaciones.xlsx" download="Descripción de Habitaciones")
              img(border="0" src="componentes/excel.png" alt="Habitaciones" width="50px" height="50px")
    .container-fluid
      .row
        .col-md-6.text-center.pt-7.pb-7
          h3.pb-5 Dirección
          p Carretera Sullana Tumbes Km. 173 Canoas de Punta Sal
        .col-md-6
          #map
  
  
        
  


