extends componentes/_base.jade
block titulo
  title El Hotel
block head
block contenido
  #hotel
    .container-fluid.hotel1
    .container
      .row
        .col-md-12.pt-10.pb-10
          h1.text-center Punta Sal Suites & Bungalows Resort
    .container-fluid.hotel2
    .container
      .row.precio
        .col-md-2
        .col-md-8.text-center.pt-7.pb-7
          h3 Familia y amigos
          p Estamos muy felices de realizar nuestro sueño de casarnos en la playa y 
          p estaremos aún mas felices si todos pueden acompañarnos ese día.
          p El paquete pactado con el hotel incluye:
          br
          ul
            li 3 Días / 2 Noches 
            li Early Check in el día viernes
            li Late Check Out el día domingo
            li Desayuno Buffet
            li Almuerzo a la carta (Entrada, Segundo y Postre)
            li Cena a la carta (Entrada, Segundo y Postre)
          br
        .col-md-2
    .container-fluid.hotel3
    .container
      .row.reservas
        .col-md-2
        .col-md-8.pt-7.pb-7
          h3.text-center Para reservar:
          br
          p.text-center Revisa el plano y descripción de las habitaciones indicados más abajo y comunícate con nosotros para poder realizar el pago y separarlo. Si deseas puedes hacerlo en cuotas.
          p.text-center Correo Daniela: daniela.alvarez04@gmail.com
          p.text-center Correo Diego: diegorodrigoojeda@gmail.com
          p.text-center Whatsapp: 959870094 / 993498382

        .col-md-2
    .container-fluid.hotel4
    .container
      .row.descargas
        .col-md-12.text-center.pt-7.pb-7
          .col-md-6
            h4 Descripción de Habitaciones
            br
            a(href="componentes/Descripcion_de_Habitaciones.xlsx" download="Descripción de Habitaciones")
              img(border="0" src="componentes/excel.png" alt="Habitaciones" width="50px" height="50px")
          .col-md-6
            h4 Plano de Habitaciones
            br
            a(href="componentes/Plano_de_Habitaciones.xlsx" download="Plano de Habitaciones")
              img(border="0" src="componentes/excel.png" alt="Plano" width="50px" height="50px")
      .row
        .col-md-12.text-center.pb-7
          p Los esperamos desde el viernes 19 para un almuerzo playero y disfrutar la época de avistamiento de ballenas.
    .container-fluid.bar
    .container-fluid
      .row
        .col-md-6.text-center.pt-7.pb-7
          h3.pb-5 Dirección
          p Carretera Sullana Tumbes Km. 173 Canoas de Punta Sal
        .col-md-6
          #map
  
  
        
  


