extends componentes/_base.jade
block titulo
  title El Hotel
block head
block contenido
  #hotel
    .container-fluid.hotel1
    .container
      .row
        .col-md-12.pt-10.pb-10
          h1.text-center Punta Sal Suites & Bungalows Resort
    .container-fluid.hotel2
    .container
      .row.precio
        .col-md-2
        .col-md-8.text-center.pt-7.pb-7
          h3 Familia y amigos
          p Estamos muy felices de realizar nuestro sueño de casarnos en la playa y 
          p estaremos más felices aún de que nos puedan acompañar todos ese día.
          p El paquete pactado con el hotel es de USD 250 por persona e incluye:
          br
          ul
            li 3 Días / 2 Noches 
            li Early Check in el día viernes
            li Late Check Out el día domingo
            li Desayuno Buffet
            li Almuerzo a la carta (Entrada, Segundo y Postre)
            li Cena a la carta (Entrada, Segundo y Postre)
          br
          br
          p El precio Ya incluye IGV(18%) e Impuesto de servicio (10%)
          p *Menores de 12 años pagan USD 158.
          p *Menores de 2 años No pagan.
          br
          h2 Su presencia es nuestro regalo :)
        .col-md-2
    .container-fluid.hotel3
    .container
      .row.reservas
        .col-md-2
        .col-md-8.pt-7.pb-7
          h3.text-center Para reservar:
          br
          ul
            li Enviar un correo a reservas@puntasal.com.pe o reservas01@puntasal.com.pe e indicar que quieren reservar un lugar para nuestro matrimonio del día 20 de Octubre del 2018. También pueden llamar al 996316963.
            li Se les brindará un nro de cuenta para depósito o transferencia. Si desean pagar con tarjeta de crédito deben llenar el formato adjunto y enviarlo por correo electrónico.
            li En la parte inferior encontrarán las caracteríticas de cada habitación, el plano de habitaciones y el formato de cargo a tarjeta de crédito. 
            li Para los que deseen, pueden reservar su habitación con un 20% del monto y pagar el resto a lo largo de estos 11 meses. Pueden elegir su habitación con nosotros o con el hotel. 
            li Les agradecermos mucho nos informen si hicieron algun pago para llevar un mejor control de las habitaciones y no confundirnos :)
        .col-md-2
    .container-fluid.hotel4
    .container
      .row.descargas
        .col-md-12.text-center.pt-7.pb-7
          .col-md-4
            h4 Formato de pago con tarjeta de crédito
            br
            a(href="componentes/Pagocontarjetadecredito.pdf" download="Pago con tarjeta de credito") 
              img(border="0" src="componentes/pdf.png" alt="Pago con tarjeta de credito" width="50px" height="50px")
          .col-md-4
            h4 Descripción de Habitaciones
            br
            a(href="componentes/Descripcion_de_Habitaciones.xlsx" download="Descripción de Habitaciones")
              img(border="0" src="componentes/excel.png" alt="Habitaciones" width="50px" height="50px")
          .col-md-4
            h4 Plano de Habitaciones
            br
            a(href="componentes/Plano_de_Habitaciones.xlsx" download="Plano de Habitaciones")
              img(border="0" src="componentes/excel.png" alt="Plano" width="50px" height="50px")
    .container-fluid.bar
    .container-fluid
      .row
        .col-md-6.text-center.pt-7.pb-7
          h3.pb-5 Dirección
          p Carretera Sullana Tumbes Km. 173 Canoas de Punta Sal
          p Contralmirante Villar, Canoas de Punta Sal, Tumbes, Perú
        .col-md-6
          #map
  
  
        
  


