extends componentes/_base.jade
block titulo
  title Dani & Diego
block head
block contenido
  #home
    .row.portada.pt-20.text-center.text-white.pl-5.pr-5
      h1 Dani & Diego
      br
      h4 20 de Octubre, 2018
      h4 Punta Sal, Tumbes
  #intro
    .row.intro.pt-3.pb-3.text-center.pl-5.pr-5
      .col-md-2
      .col-md-8
        h3 Familia y amigos
        br
        h4 Estamos muy felices de realizar nuestro sueño de casarnos en la playa
        h4 y estaremos más felices aún si todos pueden acompañarnos ese día. 
        h4 Estamos preparando todo con mucho cariño y sería lindo si todos pueden 
        h4 alojarse en el hotel del matri ya que se encuentra un poco alejado del 
        h4 balneario y queremos celebrar con ustedes en la playa!
        h4 Además tendremos actividades desde el viernes y el hotel nos ha armado 
        h4 paquetes por persona de viernes a domingo.
        h4 Quienes quieran llegar antes bienvenidos!!
        h4 Esperamos puedan organizar sus vacaciones, 
        h4 encontrar pasajes en oferta y confirmarnos
        h4 lo antes posible! 
        br
        h4 Aquí les dejaremos toda la info que puedan necesitar para esos días.
      .col-md-2
    

        
 