extends componentes/_base.jade
block titulo
  title Dani & Diego
block head
block contenido
  #home
    .row.portada.pt-20.text-center.text-white.pl-5.pr-5
      h1 Dani & Diego
      br
      h4 20 de Octubre, 2018
      h4 Punta Sal, Tumbes
  #intro
    .row.intro.pt-3.pb-3.text-center.pl-5.pr-5
      .col-md-2
      .col-md-8.pl-3.pr-3
        h3 Familia y amigos
        br
        p Estamos muy felices de realizar nuestro sueño de casarnos en la playa y estaremos
        p más felices aún si todos pueden acompañarnos ese día. Estamos preparando todo con 
        p mucho cariño y sería lindo si todos pueden alojarse en el hotel del matri, ya que 
        p se encuentra un poco alejado del balneario y queremos celebrar con ustedes en la playa!
        p Además tendremos actividades desde el viernes y el hotel nos ha armado 
        p paquetes por persona de viernes a domingo.
        p Quienes quieran llegar antes bienvenidos!!
        p Esperamos puedan organizar sus vacaciones, 
        p encontrar pasajes en oferta y confirmarnos
        p lo antes posible! 
        br 
        p Aquí les dejamos la info necesaria para esos días.
        p En el menú principal encontrarán la sección de Cómo llegar, Hotel, Boda y Fotos.

      .col-md-2
    

        
 