extends componentes/_base.jade
block titulo
  title Programa
block head
block contenido
  #boda
    .container
      .row.pt-3
        .col-md-6
          .lunademiel
        .col-md-6.text-center
          br
          h4.pb-3.pt-5 Gracias por acompañarnos en ese día tan especial. Tu presencia fue nuestro mejor regalo :) :)
          h4 Pero si te la perdiste y algo nos quieres regalar con nuestra Luna de miel nos puedes ayudar :)
          br
          hr
          br
          p Colectivo en Arequipa
          p Joyería Muñoz Najar 
          p Calle San Francisco 113 - Arequipa
          hr
          p Regalo online
          p https://regalos.noviosabordo.com/danielaydiego

          
