extends componentes/_base.jade
block titulo
  title Transporte
block head
block contenido
  #transporte
    .aeropuertos
    .container
      .row.vuelos.mb-3
        h1.text-center.pb-5.pt-5 Horario de vuelos
        .col-md-4.text-center
          h3 Vuelos a Tumbes
          h4 (Tiempo al hotel: 1 hr)
          hr
          p Latam Lima-Tumbes 10:45- 12:53
          p Latam Lima-Tumbes 15:11- 17:02
          p Latam Lima-Tumbes 19:08- 20:59
        .col-md-4.text-center
          h3 Vuelos a Talara
          h4 (Tiempo al hotel: 1.5 hrs)
          hr
          p Latam Lima-Talara 12:56- 14:48
          p Latam Lima-Talara 15:13- 17:05
        .col-md-4.text-center
          h3 Vuelos a Piura
          h4 (Tiempo al hotel: 3.5 hrs)
          hr
          .col-md-6
            p Latam
            p Lim-Piu 05:03- 06:47
            p Lim-Piu 06:03- 07:47
            p Lim-Piu 08:18- 10:02
            p Lim-Piu 11:05- 12:49
            p Lim-Piu 17:42- 19:26 
            p Lim-Piu 19:43- 21:27 
            p Lim-Piu 20:15- 21:59      
          .col-md-6
            p Avianca 
            p Lim-Piu 05:15- 06:56
            p Lim-Piu 17:00- 18:41
            br
            p Peruvian
            p Lim-Piu 07:15- 08:55
            p Lim-Piu 18:00- 19:40
    .buses
    .container
      .row.bus.mb-7.mt-5
        h1.text-center.pt-5.pb-5 ¿Cómo llegar al hotel?
        .col-md-4
          h3.text-center Transporte del Hotel
          br
          hr
          ul
            li El hotel ofrece el servicio de traslado desde el aeropuerto de Tumbes o de Talara hacia el hotel, previa coordinación. 
            li Las Van tiene capacidad para 14 personas. 
        
        .col-md-4
          h3.text-center Servicio de Taxi o Van
          br 
          hr
          ol
            li Taxi Tumbes
            li 944593977 / 948329694
            li taxitumbestours.com
            li Servicio de traslado en auto, van o minivan.
          br
          ol
            li Taxi Punta Sal Travel (Sr. Javier Flores)
            li 940178732
            li Servicio de traslado en auto o van.
          br
          ol
            li Chilimasa Tours
            li 931714715 / 963308454
            li Servicio de traslado en auto o van.
          br
          ol
            li Cocomar (Sr. Javier Lama)
            li 969937727
            li Servicio de traslado en auto, van o minibus.
          br
          ol
            li G y B (Sr. Gregorio Maldonado)
            li 956921857 / 972611281
            li Servicio de traslado en auto o van.
          br
          ol
            li Taxis Tumbes
            li 938155362
            li Servicio de traslado en auto o van.
          br
          ol
            li Taxi turistico San Jose
            li 981096766
            li Servicio de traslado en auto o van.
          
        .col-md-4
          h3.text-center Alquiler de Autos
          br
          hr
          ol 
            li San Jose Rent a Car
            li rentacarsanjose.pe/web
            br
            li Agencia Talara 981460847
            li Agencia Tumbes 994102755
            li Agencia Piura Aeropuerto 946022333
            li Atención las 24 horas:
            li 934812706/ 998256148/ 994061184
          br
          br
          ol
            li Chilimasa Tours
            li 931714715 / 963308454
            li Alquiler de autos.


