extends componentes/_base.jade
block titulo
  title Inicio
block head
block contenido
  #transporte
    .aeropuertos
    .container
      .row.vuelos.mb-3
        h1.text-center.pb-5.pt-5 Horario de vuelos
        .col-md-4.text-center
          h3 Vuelos a Tumbes
          h4 (Distancia en bus al hotel: 1 hr)
          hr
          p Latam Lima-Tumbes 10:45- 12:50
          p Latam Lima-Tumbes 19:05- 21:00
        .col-md-4.text-center
          h3 Vuelos a Talara
          h4 (Distancia en bus al hotel: 1.5 hrs)
          hr
          p Latam Lima-Talara 07:20- 9:10
          p Latam Lima-Talara 12:40- 2:30
        .col-md-4.text-center
          h3 Vuelos a Piura
          h4 (Distancia en bus al hotel: 4 hrs)
          hr
          .col-md-6
            p Latam
            p Lim-Piu 05:05- 06:50
            p Lim-Piu 06:00- 07:45
            p Lim-Piu 10:20- 12:05
            p Lim-Piu 17:20- 19:00 
            p Lim-Piu 19:00- 20:45 
            p Lim-Piu 20:15- 22:00      
          .col-md-6
            p Avianca 
            p Lim-Piu 05:15- 06:56
            p Lim-Piu 17:00- 18:41
            p Peruvian
            p Lim-Piu 07:15- 08:55
            p Lim-Piu 18:00- 19:40
    .buses
    .container
      .row.bus.mb-7.mt-5
        h1.text-center.pt-5.pb-5 ¿Cómo llegar al hotel?
        .col-md-4
          h3.text-center Transporte en Van
          br
          hr
          ul
            li El hotel ofrece el servicio de traslado desde el aeropuerto de Tumbes o de Talara hacia el hotel, previa coordinación. La Van tiene capacidad para 14 personas.
            br
            li ServiTours Piura (073)342008
            li Van de Piura a Máncora S/. 60
        
        .col-md-4
          h3.text-center Transporte en Taxi 
          br 
          hr
          ul
            li Taxi Tumbes
            li taxitumbestours.com
            li Servicio de traslado en auto, servicio de van o minivan para movilizar 7,11,18 pasajeros.
            li Servicio de alquiler de autos full equipo.
        .col-md-4
          h3.text-center Alquiler de Autos
          br
          hr
          ul 
            li San Jose Rent a Car
            li rentacarsanjose.pe/web
            li Variada gama de autos para todo tipo de uso
            br
            li Agencia Talara (073) 499091
            li Agencia Tumbes 994102755-Juan Carlos Gaona
            li Agencia Piura (073) 303240

