.footer
  .row
    .col-md-12.text-center.pt-2
      p.text-white Elaborado con amor por Dani & Diego

script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2QTrhDHtQ-QRWrGnXv1iJEoUwBsrTSB4&callback=initMap")
script(type="text/javascript", src="section-fotos/engine1/jquery.js")
script(type="text/javascript", src="section-fotos/engine1/wowslider.js")
script(type="text/javascript", src="section-fotos/engine1/script.js")
script(src="js/index.js")
script(src="js/bootstrap.min.js")