header
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
          span(class="sr-only")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a.navbar-brand(href="index.html")  Dani & Diego
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav.pull-right#main_menu 
          li
            a(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="transporte.html") ¿Cómo llegar?
          li
            a(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="hotel.html") El Hotel
          li
            a(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="boda.html") La Boda
          li
            a(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="fotos.html") Album de Fotos